<!--head-->
{{> head }}
<!--NavBar-->
{{> navbar }}

<div class="container">
        <div class="row extrapadding">
            <div class="col-8">
                <h1>Gato Encerrado</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Nesciunt eos.
                </p>
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="assets/img/gato.jpg" alt="">
            </div>
        </div>
</div>

{{> footer }}